* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #222222;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    height: 4rem;
    width: 100%;
    color: #fff;
    line-height: 4rem;
    padding-left: 2rem;
}

input {
    height: 10rem;
    width: 100%;
    text-align: right;
    font-size: 5rem;
    background-color: #222222;
    border: none;
    color: #fff;
    outline: none;
}
input::placeholder{
    color: #fff;
}
.operator{
    font-size: 3rem;
    font-weight: 500;
}
.buttons {
    min-height: 58vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 2rem;
    border: none;
    background-color: #403f3f;
    opacity: 0.80;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 0.2rem;
}

button:hover {
    background-color: #515151;
}

.func-button {
    background-color: #515151;
}

.func-button:hover {
    background-color: #403f3f;
}

.equal {
    background-color: #4ca8d6;
}

.equal:hover {
    background-color: #6fc1ea;
}
/* ---------- Extra Small Devices (max-width: 400px) ------- */
@media screen and (max-width: 400px) {
    nav {
        height: 2.5rem;
    }
    input {
        height: 5rem;
        font-size: 2.5rem;
    }
    .buttons{
        height: 51vh;
    }
    button {
        font-size: 1.3rem;
    }
    .operator {
        font-size: 1rem;
    }
}

/* ---------- Small Devices (401px - 600px) ------- */
@media screen and (max-width: 600px) {
    nav {
        height: 2.5rem;
    }
    input {
        height: 6rem;
        font-size: 3rem;
    }

    button {
        font-size: 1.5rem;
    }
    .buttons{
        height: 51vh;
    }
    .operator {
        font-size: 1rem;
    }
}

/* ---------- Medium Devices (601px - 895px) ------- */
@media screen and (max-width: 895px) {
    nav {
        height: 3rem;
    }
    input {
        height: 9rem;
        font-size: 3.5rem;
    }
    button {
        font-size: 1.7rem;
    }
    .buttons{
        height:51vh;
    }
    .operator {
        font-size: 1.3rem;
    }
}

/* ---------- Tablets (896px - 1020px) ------- */
@media screen and (max-width: 1020px) {
    nav {
        height: 3.5rem;
    }
    input {
        height: 10rem;
        font-size: 4rem;
    }
    button {
        font-size: 1.8rem;
    }
    .buttons{
        height: 51vh;
    }
    .operator {
        font-size: 1.5rem;
    }
}

/* ---------- Small Laptops (1021px - 1150px) ------- */
@media screen and (max-width: 1150px) {
    nav {
        height: 4rem;
    }
    input {
        height: 10rem;
        font-size: 4.5rem;
    }
    button {
        font-size: 2rem;
    }
    .buttons{
        height: 51vh;
    }
}

/* ---------- Standard Laptops (1151px - 1440px) ------- */
@media screen and (max-width: 1440px) {
    nav {
        height: 5rem;
    }
    input {
        height: 13rem;
    }
    button {
        font-size: 2rem;
    }
    .buttons{
        height: 65.80vh;
    }
}

/* ---------- 4K Screens (1441px and up) ------- */
@media screen and (min-width: 1441px) {
    nav {
        height: 5rem;
    }
    h1 {
        font-size: 2rem;
        padding-top: 1rem;
    }
    input {
        height: 12rem;
        font-size: 5rem;
    }
    button {
        font-size: 2rem;
    }
    .buttons{
        height: 62.50vh;
    }
    .operator {
        font-size: 3rem;
    }
}
